{% extends 'frontend.html.twig' %}

{% block id 'usuario' %}
{% block title 'Regístrate gratis como usuario' %}

{% block article %}
    <h1>{{ block('title') }}</h1>
    {{ form(formulario) }}
{% endblock %}

{% block aside %}
{% endblock %}
